/*=============================== 
GLOBAL
================================*/

:root {
  scroll-behavior: smooth;

  --black: #181818;
  --white: #ffffff;
  --grey: #8d8d8d;
  --accent: #0297c4;
  --body: #d7dde8;
  --wrapper: #f5f5f7;
  --header: #d6e9ff;
  --navbar: rgba(245, 245, 245, .7);
  --border-img: #f0f0f0;
  --border-bottom: rgba(17, 17, 17, 0.2);
  --box: #ffffff;
  --box-shadow: 0 8px 16px -3px rgba(100, 100, 100, 0.1);
  --paragraph-weight: 400;
}

/* ----- Dark Theme -----*/
.dark-theme {
  --black: #f0f0f0;
  --white: #181818;
  --body: #141e30;
  --wrapper: #0e141b;
  --header: #000000;
  --navbar: rgba(17, 17, 17, .7);
  --border-img: #0297c4;
  --border-bottom: rgba(240, 240, 240, 0.2);
  --box: #182029;
  --box-shadow: 0 8px 16px -3px #18202950;
  --paragraph-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

body {
  background: var(--body)
}

p {
  font-size: 1.6rem;
  font-weight: var(--paragraph-weight);
  color: var(--black);
  opacity: 0.8;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title-section {
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/*=============================== 
SCROLL TO TOP
================================*/

.scrollToTop-Btn {
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: var(--accent);
  font-size: 1em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .5s ease;
}

.scrollToTop-Btn.active {
  right: 2rem;
  opacity: 1;
  visibility: visible;
}

.scrollToTop-Btn svg {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

/*=============================== 
WRAPPER
================================*/

.wrapper {
  width: 60%;
  margin: 2rem auto;
  max-width: 1200px;
  background: var(--wrapper);
  border-radius: 5px;
}

/*=============================== 
HEADER AND NAV
================================*/

header {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: var(--header);
  border-radius: 0px 0px 5px 5px;
  box-shadow: var(--box-shadow);
}

header .image {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid var(--border-img);
  overflow: hidden;
}

header .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--navbar);
  backdrop-filter: blur(20px);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 6rem 0;
  transition: .4s;
}

.navbar.active {
  right: 0;
}

.navbar a {
  font-size: 1.9rem;
  color: var(--black);
}

.navbar a.active {
  border-bottom: 4px solid var(--accent);
}

.ri-moon-fill {
  font-size: 1.9rem;
  color: lightskyblue;
  background-color: #222222;
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
}

.ri-sun-fill {
  font-size: 1.9rem;
  color: lightsalmon;
  background-color: #182029;
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
}

.open-menu {
  z-index: 10;
  position: fixed;
  top: 50px;
  right: 2rem;
  fill: #ffffff;
  width: 40px;
  height: 40px;
  background-color: var(--accent);
  padding: .8rem;
  border-radius: 5px;
  cursor: pointer;
}

.close-menu {
  position: absolute;
  top: 50px;
  right: 2rem;
  font-size: 2.5rem;
  color: #ffffff;
  background-color: var(--accent);
  padding: .8rem;
  border-radius: 5px;
  cursor: pointer;
}

/*=============================== 
SECTION 1: HOME
================================*/

.section1 {
  padding: 12rem 6rem 0;
}

.section1 .container {
  padding-bottom: 4rem;
  border-bottom: 3px solid var(--border-bottom);
}

.section1 .container h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--black);
  opacity: 0.9;
  letter-spacing: -0.02em;
  line-height: 110%;
  text-transform: capitalize;
}

/*=============================== 
SECTION 2: CONTACTO - SOBRE MI
================================*/

.section2 {
  padding: 4rem 6rem 0;
}

.section2 .container {
  padding-bottom: 4rem;
  border-bottom: 3px solid var(--border-bottom);
}

.section2 .container a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  opacity: 0.8;
  transition: all .4s;
}

.section2 .container a:nth-child(2) {
  margin-top: 2rem;
}

.section2 .container a:not(:last-child) {
  margin-bottom: 2rem;
}

.section2 .container a:hover {
  color: var(--accent);
}

.section2 .container svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #8f8f8f;
  vertical-align: middle;
}

/*=============================== 
SECTION 3: HABILIDADES
================================*/

.section3 {
  padding: 4rem 6rem 0;
}

.section3 .container {
  padding-bottom: 4rem;
  border-bottom: 3px solid var(--border-bottom);
}

.logos {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.logos img {
  width: 35px;
  height: 35px;
}

/*==================================================== 
SECTION 4: EXPERIENCIA - EDUCACION 
=====================================================*/

.section4 {
  padding: 4rem 6rem 0;
}

.section4 .container {
  padding-bottom: 4rem;
  border-bottom: 3px solid var(--border-bottom);
}

.section4 .final-container {
  padding-bottom: 4rem;
}

.section4 .box {
  margin-top: 4rem;
  line-height: 25px;
  background-color: var(--box);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  position: relative;
}

.section4 .box.border1 {
  border-left: 2px solid #0297c4;
}

.section4 .box.border2 {
  border-left: 2px solid #28b86a;
}

.section4 .box.border3 {
  border-left: 2px solid #28b86a;
}

.section4 .box.border4 {
  border-left: 2px solid #e24cff;
}

.section4 .box.border5 {
  border-left: 2px solid #ff198b;
}

.section4 .box .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  width: 90%;
}

.section4 .box .info h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 1rem;
}

.section4 .box .info p {
  font-size: 1.3rem;
}

#education .container {
  border-bottom: none;
}

/*=============================== 
FOOTER
================================*/

footer {
  padding: 4rem 6rem;
  background-color: var(--header);
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 1.4rem;
  color: var(--black);
}

.socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.socials a {
  font-size: 2.5rem;
  color: var(--grey);
  transition: color .4s;
}

.socials a:hover {
  color: var(--accent);
}

/*=============================== 
RESPONSIVE
================================*/

@media (max-width: 1200px) {

  .wrapper {
    width: 90%;
  }
}

@media (max-width: 920px) {

  .wrapper {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 600px) {

  header .image {
    left: 1rem;
  }

  .section1 {
    padding: 12rem 2rem 0;
  }

  .section2,
  .section3,
  .section4 {
    padding: 4rem 2rem 0;
  }

  .section1 .container h1 {
    font-size: 3.2rem;
  }

  .section1 .container p {
    width: 80%;
  }

  footer {
    padding: 4rem 2rem;
  }

  .logos img {
    width: 30px;
    height: 30px;
  }

  .section4 .box .info img {
    width: 100%;
  }
}